@import 'node_modules/admin-lte/dist/css/adminlte.min.css';
@import'node_modules/admin-lte/plugins/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback');




.sidebar-dark-primary .nav-sidebar .nav-link.active , .nav-icon.active  {

    background-color: #443c9c  !important;
    color: black !important;
}
.sidebar-dark-primary .nav-sidebar :hover{

    color: black !important;
    background-color:  #362e7b  !important;
}

.sidebar-title , .d-block{
    color: #bcb4cc !important;


}

.main-sidebar {
    background-color: #242c44 !important;
    color: black !important;
}

.nav-icon {
    color: #bcb4cc !important;
}

.btn-purple {
    background-color:#362e7b;
    color: white;
}
.btn-purple:hover {
    background-color: #4e4883;


}

.small-box-footer{

    background-color:#362e7b !important;
}
.badge-purple {
    background-color: #362e7b;
    color: white;
  }
  .centered-cell {
    text-align: center;
  }

  .appointment-count {
    font-size: 16px;
    font-weight: 600;
  }
  section.breadcrumb_part {
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(to right, #2a8aca, #e4e2e2);

}

section.breadcrumb_part h2 {
    font-size: 4em;

}
